<!DOCTYPE html>
<html lang="en">
<!-- Course Cards -->
<div class="grid grid-cols-3 gap-6 mb-8">
    <% courses.forEach(function (course) { %>
        <a href="/course/<%= course.id %>" class="block transition-colors duration-300 hover:bg-black-100 items-center text-black rounded-lg">
            <div class="card card-bordered">
                <figure><img src="https://i.imgur.com/TZuVgPs.png" alt="Course Image"></figure>
                <div class="card-body">
                    <h2 class="card-title"><%= course.course_name %></h2>
                    <p class="text-black"><%= course.description %></p>
                    <div class="justify-end card-actions">
                        <p class="text-xs">Course Start: <%= course.course_start %></p>
                        <p class="text-xs">Course End: <%= course.course_end %></p>
                    </div>
                </div>
            </div>
        </a>
    <% }); %>
</div>
</html>
