<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include( '../components/styling' ) %>
</head>
<body>
    <%- include( '../components/header' ) %>
    <%- include( '../components/sidebar' ) %>

    <div class="flex">
        <%- include('../components/course_sidebar') %>
        <main class="flex-grow bg-gray-100 dark:bg-gray-800">
            <div class="flex items-start justify-between p-4">
                <%- include('../components/course_module_full', {courseModule: courseModule}) %>
            </div>
        </main>
    </div>
</body>
</html>
