<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Entities</title>
    <link rel="stylesheet" href="dist/style.css">
</head>

<body class="bg-gray-100">
    <%- include( '../components/header' ) %>
    <%- include( '../components/sidebar' ) %>

    <main class="h-screen flex justify-center items-center">
        <div class="container mx-auto p-8">
            <div id="deleteForm" class="card p-5 bg-white">
                <div class="form-control mb-4">
                    <label class="label">
                        <span class="label-text">Select Role</span>
                    </label>
                    <select id="roleSelect" class="select select-bordered w-full" onchange="toggleFields()">
                        <option value="" disabled selected>Choose a role</option>
                        <option value="student">Student</option>
                        <option value="admin">Admin</option>
                        <option value="teacher">Teacher</option>
                    </select>
                </div>

                <div id="courseField" class="form-control mb-4 justify-center items-center">
                    <label class="label">
                        <span class="label-text">Users</span>
                    </label>
                    <div class="w-full h-64 bg-base-300 rounded-box overflow-y-auto">
                        <div class="menu p-4">
                            <ul id="admins" class="hidden">
                                <% for (let i = 0; i < admins.length; i++) { %>
                                    <li class="menu-item mb-2">
                                        <input type="checkbox" name="admin" id="<%=i%>-<%=admins[i].username%>" value=<%= admins[i].username%> class="hidden peer" />
                                        <label for="<%=i%>-<%=admins[i].username%>" class="block cursor-pointer p-3 rounded-lg hover:bg-base-200 peer-checked:bg-primary peer-checked:text-white peer-checked:border peer-checked:border-primary text-center text-lg" >
                                            <span><%= admins[i].username %></span>
                                        </label>
                                    </li>
                                <% } %>
                            </ul>
                            <ul id="students" class="hidden">
                                <% for (let i = 0; i < students.length; i++) { %>
                                    <li class="menu-item mb-2">
                                        <input type="checkbox" name="student" id="<%=i%>-<%=students[i].username%>" value=<%= students[i].username%> class="hidden peer" />
                                        <label for="<%=i%>-<%=students[i].username%>" class="block cursor-pointer p-3 rounded-lg hover:bg-base-200 peer-checked:bg-primary peer-checked:text-white peer-checked:border peer-checked:border-primary text-center text-lg" >
                                            <span><%= students[i].username %></span>
                                        </label>
                                    </li>
                                <% } %>
                            </ul>
                            <ul id="teachers" class="hidden">
                                <% for (let i = 0; i < teachers.length; i++) { %>
                                    <li class="menu-item mb-2">
                                        <input type="checkbox" name="teacher" id="<%=i%>-<%=teachers[i].username%>" value=<%= teachers[i].username%> class="hidden peer" />
                                        <label for="<%=i%>-<%=teachers[i].username%>" class="block cursor-pointer p-3 rounded-lg hover:bg-base-200 peer-checked:bg-primary peer-checked:text-white peer-checked:border peer-checked:border-primary text-center text-lg" >
                                            <span><%= teachers[i].username %></span>
                                        </label>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>

                <button id="delete" type="submit" class="btn btn-primary w-full">Delete</button>
                <div id="result" class="w-full text-center"></div>
            </form>
        </div>
    </main>

    <script src="scripts/delete.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
