<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Entities</title>
    <%- include( '../components/styling' ) %>
</head>

<body>
    <%- include( '../components/header' ) %>
    <%- include( '../components/sidebar' ) %>

    <main class="h-screen flex justify-center items-center bg-gray-100 dark:bg-gray-800">
        <div class="container mx-auto p-8">
            <div id="deleteForm" class="card p-5">
                <div class="form-control mb-4">
                    <label class="label">
                        <span class="label-text">Select Role</span>
                    </label>
                    <select id="roleSelect" class="select select-bordered w-full" onchange="toggleFields()">
                        <option value="" disabled selected>Choose a role</option>
                        <option value="student">Student</option>
                        <option value="admin">Admin</option>
                        <option value="teacher">Teacher</option>
                    </select>
                </div>

                <div id="courseField" class="form-control mb-4 justify-center items-center">
                    <label class="label">
                        <span class="label-text">Users</span>
                    </label>
                    <div class="w-full h-64 bg-base-300 rounded-box overflow-y-auto">
                        <div class="menu p-4">
                            <ul id="admins" class="hidden">
                                <% for (let i = 0; i < admins.length; i++) { %>
                                    <li class="menu-item mb-2">
                                        <input type="checkbox" name="admin" id="<%=i%>-<%=admins[i].username%>" value=<%= admins[i].username%> class="hidden peer" />
                                        <label for="<%=i%>-<%=admins[i].username%>" class="block cursor-pointer p-3 rounded-lg hover:bg-base-200 peer-checked:bg-primary peer-checked:text-white peer-checked:border peer-checked:border-primary text-center text-lg" >
                                            <span><%= admins[i].username %></span>
                                        </label>
                                    </li>
                                <% } %>
                            </ul>
                            <ul id="students" class="hidden">
                                <% for (let i = 0; i < students.length; i++) { %>
                                    <li class="menu-item mb-2">
                                        <input type="checkbox" name="student" id="<%=i%>-<%=students[i].username%>" value=<%= students[i].username%> class="hidden peer" />
                                        <label for="<%=i%>-<%=students[i].username%>" class="block cursor-pointer p-3 rounded-lg hover:bg-base-200 peer-checked:bg-primary peer-checked:text-white peer-checked:border peer-checked:border-primary text-center text-lg" >
                                            <span><%= students[i].username %></span>
                                        </label>
                                    </li>
                                <% } %>
                            </ul>
                            <ul id="teachers" class="hidden">
                                <% for (let i = 0; i < teachers.length; i++) { %>
                                    <li class="menu-item mb-2">
                                        <input type="checkbox" name="teacher" id="<%=i%>-<%=teachers[i].username%>" value=<%= teachers[i].username%> class="hidden peer" />
                                        <label for="<%=i%>-<%=teachers[i].username%>" class="block cursor-pointer p-3 rounded-lg hover:bg-base-200 peer-checked:bg-primary peer-checked:text-white peer-checked:border peer-checked:border-primary text-center text-lg" >
                                            <span><%= teachers[i].username %></span>
                                        </label>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>

                <button id="delete" type="submit" class="btn btn-primary w-full">Delete</button>
                <div id="result" class="w-full text-center"></div>
            </form>
        </div>
    </main>
</body>

<script>
    const deleteButton = document.getElementById("delete");
    const roleSelect = document.getElementById("roleSelect");
    const resultDiv = document.getElementById("result");

    deleteButton.addEventListener("click", async () => {
        let entities = undefined;
        if (roleSelect.value === "student") {
            entities = document.getElementsByName("student");
        } else if (roleSelect.value === "teacher") {
            entities = document.getElementsByName("teacher");
        } else if (roleSelect.value === "admin") {
            entities = document.getElementsByName("admin");
        }

        try {
            const selectedEntities = [];
            entities.forEach((checkbox) => {
                if (checkbox.checked) {
                    selectedEntities.push(checkbox.value);
                }
            });

            resultDiv.textContent = "";
            const response = await fetch("/delete", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    usernames: selectedEntities,
                    role: roleSelect.value
                })
            });

            if (response.ok) {
                roleSelect.selectedIndex = 0; // Reset the selection
                toggleFields(); // Hide the lists
                window.location.reload();
            } else {
                const body = await response.json();
                if (body.hasOwnProperty("error")) {
                    resultDiv.textContent = body.error;
                }
            }
        } catch (error) {
            console.error(error);
        }
    });

    function toggleFields() {
        const adminList = document.getElementById("admins");
        const studentList = document.getElementById("students");
        const teacherList = document.getElementById("teachers");

        if (roleSelect.value === "student") {
            adminList.classList.add("hidden");
            teacherList.classList.add("hidden");
            studentList.classList.remove("hidden");
        } else if (roleSelect.value === "teacher") {
            adminList.classList.add("hidden");
            studentList.classList.add("hidden");
            teacherList.classList.remove("hidden");
        } else if (roleSelect.value === "admin") {
            studentList.classList.add("hidden");
            teacherList.classList.add("hidden");
            adminList.classList.remove("hidden");
        } else {
            adminList.classList.add("hidden");
            studentList.classList.add("hidden");
            teacherList.classList.add("hidden");
        }
    }
</script>

</html>